include README.md
include LICENSE
recursive-include FMOPhore *
recursive-include FMOPhore *.py
recursive-include FMOPhore *.log
recursive-include FMOPhore *.sh
recursive-include FMOPhore *.yml
recursive-include FMOPhore/modules *
recursive-include FMOPhore/modules *.py
recursive-include FMOPhore/modules *.txt
recursive-include FMOPhore/modules *.csv
recursive-include FMOPhore/modules *.json
recursive-include FMOPhore/modules *.yaml
recursive-include FMOPhore/modules *.md
recursive-include FMOPhore/modules *.so
recursive-include FMOPhore/modules *.log
recursive-include FMOPhore/modules *.c
recursive-include FMOPhore/QM_run *
recursive-include FMOPhore/QM_run *.c
recursive-include FMOPhore/QM_run *.so
recursive-include FMOPhore/QM_run MP2
recursive-include FMOPhore/QM_run DFTB
recursive-include FMOPhore/QM_run rungms
recursive-include FMOPhore/QM_run *.py
recursive-include FMOPhore/QM_run *.txt
recursive-include FMOPhore/QM_run *.csv
recursive-include FMOPhore/QM_run *.txt
recursive-include FMOPhore/QM_run *.json
recursive-include FMOPhore/QM_run *.yaml
recursive-include FMOPhore/QM_run/lib libgfortran.so.3
recursive-include FMOPhore/QM_run *.log
recursive-include FMOPhore/example/Holo_FMOPhore *
recursive-include FMOPhore/example/Holo_FMOPhore *.sh
recursive-include FMOPhore/example/Holo_FMOPhore *.pdb
recursive-include FMOPhore/example/Apo_FMOPhore_scan *
recursive-include FMOPhore/example/Apo_FMOPhore_scan *.sh
recursive-include FMOPhore/example/Apo_FMOPhore_scan *.log
recursive-include FMOPhore/example/Apo_FMOPhore_scan *.pdb
recursive-include FMOPhore/example/Apo_FMOPhore_scan/ligands *
recursive-include FMOPhore/example/Apo_FMOPhore_scan/ligands *.pdb
recursive-include FMOPhore/example/Apo_FMOPhore_scan/prot *
recursive-include FMOPhore/example/Apo_FMOPhore_scan/prot *.pdb